@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('/images/bg.png');
    background-position: center;
    background-size: cover
  }
  

.gradiant-bg {
  background: rgb(255,255,255);
background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(24,24,26,1) 11%, rgba(23,23,23,1) 100%);
}